@import './mediaQuery';
@import url("https://fonts.cdnfonts.com/css/amazon-ember");

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: "Amazon Ember", sans-serif;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
}

.btn-warning {
    background-color: #ff9900;
    border-color: #ff9900;
}

.btn-warning:hover {
    background-color: rgba(255, 153, 0, 0.9);
    border-color: rgba(255, 153, 0, 0.9);
}

.form-control:focus {
    box-shadow: none;
}

.dropdown-item:active {
    background-color: inherit;
}
.icon:focus {
    background-color: #ff9900;
}
/* .bi-cart-fill:hover{
background-color: #ff9900;
} */
.container{
    background-color: white;
}
.item{
    position: relative;
    display: flex;
}

.description{
    display: flex;
}
.item .item-desc{
    width: 30%;
    margin: 2px;
}
.del{
 
 position: absolute;
 right: 0;
 top: 80%;
}